#navBar {
  background-color: #76EAD7;
  height: fit-content;
  width: 100vw; }

#listaProd {
  width: 300px;
  height: fit-content; }

#bienvenida {
  position: absolute;
  top: 20%;
  left: 43%;
  padding: 50px;
  border: solid 3px #747474;
  border-radius: 20%;
  background-color: #EEEEEE; }

main {
  background-color: #EEEEEE;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
