@import './variables.scss';
@import './NavBar.scss';
@import './PaperItem.scss';
@import './Bienvenida.scss';
@import './ItemCount.scss';
main{
    background-color: $colorSecundario;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#trashIcon{
    display: flex;
    justify-content: center;
    margin: 15px;
    align-items: center;
}