@import './variables.scss';
@import './NavBar.scss';
@import './PaperItem.scss';
@import './Bienvenida.scss';
@import './ItemCount.scss';
main{
    background-color: $colorSecundario;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
