@import './variables.scss';
#navBar{
    background-color: $colorPrincipal;
    height: fit-content;
    width: 100vw;
}    
#navButtons{
    width: fit-content;
    list-style: none;
    text-decoration: none;
    display: inline-block;
}

